In [31]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

data = pd.read_csv('train.csv')
data.head()
data2 = data.dropna()

In [7]:
#x = data['id']
y = data['HouseAge']

In [37]:
data2.isna()

,id,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
37132,False,False,False,False,False,False,False,False,False,False
37133,False,False,False,False,False,False,False,False,False,False
37134,False,False,False,False,False,False,False,False,False,False
37135,False,False,False,False,False,False,False,False,False,False
37136,False,False,False,False,False,False,False,False,False,False

In [11]:
#y is the target feature
#x is the input 
#x_train,x_test,y_train,y_test = train_test_split(
    
  #  x,y,random_state = 120, test_size = 0.3, shuffle = True
#)

In [14]:
#x_train.shape

(25995,)

In [43]:
#x_train.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [16]:
#y_train.head()

15808    46.0
1616     21.0
6624     13.0
10176    42.0
30447    46.0
Name: HouseAge, dtype: float64

In [17]:
#y_test.shape

(11142,)

In [18]:
#y_test.head()

6281      6.0
33485    15.0
33380    16.0
4113     36.0
24932    26.0
Name: HouseAge, dtype: float64

In [38]:
data2.columns
data2.isna()

,id,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
37132,False,False,False,False,False,False,False,False,False,False
37133,False,False,False,False,False,False,False,False,False,False
37134,False,False,False,False,False,False,False,False,False,False
37135,False,False,False,False,False,False,False,False,False,False
37136,False,False,False,False,False,False,False,False,False,False

In [34]:
#We are trying to predict y using the independent x
y = data2['HouseAge']
x = data2.drop('HouseAge',axis = 1)

In [44]:
x_train,x_test,y_train,y_test = train_test_split(
    x,y,random_state = 120, test_size = 0.3
)

scaler = StandardScaler()

scaler.fit(x_train)

X_train = scaler.transform(x_train)

X_test = scaler.transform(x_test)

In [42]:
y.shape

(37137,)

In [41]:
x.shape

(37137, 9)

In [45]:
model = LinearRegression().fit(x_train,y_train)
y_pred = model.predict(x_test)

In [46]:
y_pred
print(mean_squared_error,(y_test,y_pred))

<function mean_squared_error at 0x000001E6D3817EC0> (6281      6.0
33485    15.0
33380    16.0
4113     36.0
24932    26.0
         ...
12385    34.0
10269    32.0
34164    42.0
1522     30.0
5326     22.0
Name: HouseAge, Length: 11142, dtype: float64, array([18.64050981, 31.10820546, 27.02292464, ..., 29.87010609,
       27.37679762, 24.2113421 ]))