In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

data = pd.read_csv('train.csv')
data.head()

,id,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,0,2.3859,15.0,3.827160,1.112100,1280.0,2.486989,34.60,-120.12,0.980
1,1,3.7188,17.0,6.013373,1.054217,1504.0,3.813084,38.69,-121.22,0.946
2,2,4.7750,27.0,6.535604,1.103175,1061.0,2.464602,34.71,-120.45,1.576
3,3,2.4138,16.0,3.350203,0.965432,1255.0,2.089286,32.66,-117.09,1.336
4,4,3.7500,52.0,4.284404,1.069246,1793.0,1.604790,37.80,-122.41,4.500

In [7]:
x = data['id']
y = data['HouseAge']

In [8]:
x

0            0
1            1
2            2
3            3
4            4
         ...
37132    37132
37133    37133
37134    37134
37135    37135
37136    37136
Name: id, Length: 37137, dtype: int64

In [11]:
x_train,x_test,y_train,y_test = train_test_split(
    
    x,y,random_state = 120, test_size = 0.3, shuffle = True
)

In [12]:
x_train

15808    15808
1616      1616
6624      6624
10176    10176
30447    30447
         ...
16394    16394
11646    11646
33503    33503
17566    17566
32423    32423
Name: id, Length: 25995, dtype: int64

In [ ]:
x_