In [1]:
import pandas as pd
data = pd.read_csv('academic.csv')
data

,year,students,us_students,undergraduate,graduate,non_degree,opt
0,1948/49,25464,2403400.0,NaN,NaN,NaN,NaN
1,1949/50,26433,2445000.0,NaN,NaN,NaN,NaN
2,1950/51,29813,2281000.0,NaN,NaN,NaN,NaN
3,1951/52,30462,2102000.0,NaN,NaN,NaN,NaN
4,1952/53,33675,2134000.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
70,2018/19,1095299,19828000.0,431930.0,377943.0,62341.0,223085.0
71,2019/20,1075496,19720000.0,419321.0,374435.0,58201.0,223539.0
72,2020/21,914095,19744000.0,359787.0,329272.0,21151.0,203885.0
73,2021/22,948519,20327000.0,344532.0,385097.0,34131.0,184759.0
74,2022/23,1057188,18961280.0,347602.0,467027.0,43766.0,198793.0

In [2]:
data.head()

      year  students  us_students  undergraduate  graduate  non_degree  opt
0  1948/49     25464    2403400.0            NaN       NaN         NaN  NaN
1  1949/50     26433    2445000.0            NaN       NaN         NaN  NaN
2  1950/51     29813    2281000.0            NaN       NaN         NaN  NaN
3  1951/52     30462    2102000.0            NaN       NaN         NaN  NaN
4  1952/53     33675    2134000.0            NaN       NaN         NaN  NaN

In [3]:
clean_data = data.dropna()

In [4]:
clean_data

,year,students,us_students,undergraduate,graduate,non_degree,opt
31,1979/80,286343,11570000.0,172520.0,94130.0,16850.0,2840.0
32,1980/81,311882,12097000.0,186660.0,99110.0,21660.0,3450.0
33,1981/82,326299,12372000.0,195150.0,106290.0,21980.0,2880.0
34,1982/83,336985,12426000.0,202760.0,110270.0,20340.0,3620.0
35,1983/84,338894,12465000.0,197480.0,118820.0,19190.0,3400.0
36,1984/85,342113,12242000.0,197640.0,122590.0,17570.0,4310.0
37,1985/86,343777,12247000.0,187660.0,132430.0,19540.0,4150.0
38,1986/87,349609,12504000.0,181230.0,146100.0,17550.0,4730.0
39,1987/88,356187,12767000.0,176669.0,156366.0,18352.0,4800.0
40,1988/89,366354,13055000.0,172551.0,165590.0,21189.0,7020.0
41,1989/90,386851,13539000.0,184527.0,169827.0,24785.0,7712.0
42,1990/91,407529,13819000.0,189900.0,182130.0,26730.0,8770.0
43,1991/92,419585,14359000.0,197070.0,191330.0,22960.0,8230.0
44,1992/93,438618,14487000.0,210080.0,193330.0,24200.0,11010.0
45,1993/94,449749,14305000.0,213610.0,201030.0,23680.0,11430.0
46,1994/95,452635,14279000.0,221500.0,191738.0,26188.0,13209.0
47,1995/96,453787,14262000.0,218620.0,190092.0,29625.0,15450.0
48,1996/97,457984,14368000.0,218743.0,190244.0,30872.0,18125.0
49,1997/98,481280,14502000.0,223276.0,207510.0,33912.0,16582.0
50,1998/99,490933,14507000.0,235802.0,211426.0,26863.0,16842.0
51,1999/00,514723,14791000.0,237211.0,218219.0,34436.0,24857.0
52,2000/01,547867,15312000.0,254429.0,238497.0,33883.0,21058.0
53,2001/02,582996,15928000.0,261079.0,264749.0,34423.0,22745.0
54,2002/03,586323,16612000.0,260103.0,267876.0,30551.0,27793.0
55,2003/04,572509,16911000.0,248200.0,274310.0,20659.0,29340.0
56,2004/05,565039,17272000.0,239212.0,264410.0,28418.0,32999.0
57,2005/06,564766,17487000.0,236342.0,259717.0,30611.0,38096.0
58,2006/07,582984,17672000.0,238050.0,264288.0,38986.0,41660.0
59,2007/08,623805,18248000.0,243360.0,276842.0,46837.0,56766.0
60,2008/09,671616,19103000.0,269874.0,283329.0,51812.0,66601.0
61,2009/10,690923,20428000.0,274431.0,293885.0,54803.0,67804.0
62,2010/11,723277,20550000.0,291439.0,296574.0,59233.0,76031.0
63,2011/12,764495,20625000.0,309342.0,300430.0,69566.0,85157.0
64,2012/13,819644,21253000.0,339993.0,311204.0,73528.0,94919.0
65,2013/14,886052,21216000.0,370724.0,329854.0,79477.0,105997.0
66,2014/15,974926,20300000.0,398824.0,362228.0,93587.0,120287.0
67,2015/16,1043839,20264000.0,427313.0,383935.0,85093.0,147498.0
68,2016/17,1078822,20185000.0,439019.0,391124.0,72984.0,175695.0
69,2017/18,1094792,19831000.0,442746.0,382953.0,65631.0,203462.0
70,2018/19,1095299,19828000.0,431930.0,377943.0,62341.0,223085.0
71,2019/20,1075496,19720000.0,419321.0,374435.0,58201.0,223539.0
72,2020/21,914095,19744000.0,359787.0,329272.0,21151.0,203885.0
73,2021/22,948519,20327000.0,344532.0,385097.0,34131.0,184759.0
74,2022/23,1057188,18961280.0,347602.0,467027.0,43766.0,198793.0

In [5]:
clean_data.shape

(44, 7)

In [6]:
clean_data.info

<bound method DataFrame.info of        year  students  us_students  undergraduate  graduate  non_degree  \
31  1979/80    286343   11570000.0       172520.0   94130.0     16850.0
32  1980/81    311882   12097000.0       186660.0   99110.0     21660.0
33  1981/82    326299   12372000.0       195150.0  106290.0     21980.0
34  1982/83    336985   12426000.0       202760.0  110270.0     20340.0
35  1983/84    338894   12465000.0       197480.0  118820.0     19190.0
36  1984/85    342113   12242000.0       197640.0  122590.0     17570.0
37  1985/86    343777   12247000.0       187660.0  132430.0     19540.0
38  1986/87    349609   12504000.0       181230.0  146100.0     17550.0
39  1987/88    356187   12767000.0       176669.0  156366.0     18352.0
40  1988/89    366354   13055000.0       172551.0  165590.0     21189.0
41  1989/90    386851   13539000.0       184527.0  169827.0     24785.0
42  1990/91    407529   13819000.0       189900.0  182130.0     26730.0
43  1991/92    419585   14359000.0       197070.0  191330.0     22960.0
44  1992/93    438618   14487000.0       210080.0  193330.0     24200.0
45  1993/94    449749   14305000.0       213610.0  201030.0     23680.0
46  1994/95    452635   14279000.0       221500.0  191738.0     26188.0
47  1995/96    453787   14262000.0       218620.0  190092.0     29625.0
48  1996/97    457984   14368000.0       218743.0  190244.0     30872.0
49  1997/98    481280   14502000.0       223276.0  207510.0     33912.0
50  1998/99    490933   14507000.0       235802.0  211426.0     26863.0
51  1999/00    514723   14791000.0       237211.0  218219.0     34436.0
52  2000/01    547867   15312000.0       254429.0  238497.0     33883.0
53  2001/02    582996   15928000.0       261079.0  264749.0     34423.0
54  2002/03    586323   16612000.0       260103.0  267876.0     30551.0
55  2003/04    572509   16911000.0       248200.0  274310.0     20659.0
56  2004/05    565039   17272000.0       239212.0  264410.0     28418.0
57  2005/06    564766   17487000.0       236342.0  259717.0     30611.0
58  2006/07    582984   17672000.0       238050.0  264288.0     38986.0
59  2007/08    623805   18248000.0       243360.0  276842.0     46837.0
60  2008/09    671616   19103000.0       269874.0  283329.0     51812.0
61  2009/10    690923   20428000.0       274431.0  293885.0     54803.0
62  2010/11    723277   20550000.0       291439.0  296574.0     59233.0
63  2011/12    764495   20625000.0       309342.0  300430.0     69566.0
64  2012/13    819644   21253000.0       339993.0  311204.0     73528.0
65  2013/14    886052   21216000.0       370724.0  329854.0     79477.0
66  2014/15    974926   20300000.0       398824.0  362228.0     93587.0
67  2015/16   1043839   20264000.0       427313.0  383935.0     85093.0
68  2016/17   1078822   20185000.0       439019.0  391124.0     72984.0
69  2017/18   1094792   19831000.0       442746.0  382953.0     65631.0
70  2018/19   1095299   19828000.0       431930.0  377943.0     62341.0
71  2019/20   1075496   19720000.0       419321.0  374435.0     58201.0
72  2020/21    914095   19744000.0       359787.0  329272.0     21151.0
73  2021/22    948519   20327000.0       344532.0  385097.0     34131.0
74  2022/23   1057188   18961280.0       347602.0  467027.0     43766.0

         opt
31    2840.0
32    3450.0
33    2880.0
34    3620.0
35    3400.0
36    4310.0
37    4150.0
38    4730.0
39    4800.0
40    7020.0
41    7712.0
42    8770.0
43    8230.0
44   11010.0
45   11430.0
46   13209.0
47   15450.0
48   18125.0
49   16582.0
50   16842.0
51   24857.0
52   21058.0
53   22745.0
54   27793.0
55   29340.0
56   32999.0
57   38096.0
58   41660.0
59   56766.0
60   66601.0
61   67804.0
62   76031.0
63   85157.0
64   94919.0
65  105997.0
66  120287.0
67  147498.0
68  175695.0
69  203462.0
70  223085.0
71  223539.0
72  203885.0
73  184759.0
74  198793.0  >

In [7]:
clean_data.describe()

,students,us_students,undergraduate,graduate,non_degree,opt
count,4.400000e+01,4.400000e+01,44.000000,44.000000,44.000000,44.000000
mean,6.085770e+05,1.633501e+07,265188.886364,244967.068182,38366.909091,60031.500000
std,2.581095e+05,3.197059e+06,83032.568899,94867.748115,20995.604738,71502.857607
min,2.863430e+05,1.157000e+07,172520.000000,94130.000000,16850.000000,2840.000000
25%,4.023595e+05,1.374900e+07,197600.000000,179054.250000,21900.000000,8100.500000
50%,5.563165e+05,1.562000e+07,237630.500000,249107.000000,30581.000000,23801.000000
75%,7.782822e+05,1.976500e+07,317004.750000,303123.500000,52559.750000,87597.500000
max,1.095299e+06,2.125300e+07,442746.000000,467027.000000,93587.000000,223539.000000

In [8]:
clean_data.isna().sum()

year             0
students         0
us_students      0
undergraduate    0
graduate         0
non_degree       0
opt              0
dtype: int64

In [10]:
caliH = pd.read_csv('housing.csv')
caliH.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [15]:
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

In [16]:
import sklearn as sk
from sklearn.datasets import fetch_california_housing

In [17]:
housing_data = fetch_california_housing()